<div class="bg-[#155B84] text-white min-h-screen flex items-center justify-center">
  <div class="text-center p-6">
    <h1 class="text-6xl font-bold text-[#fac32e] mb-4">
      {{ 'errorPages.404.title' | translate }}
    </h1>
    <h2 class="text-2xl mb-2">
      {{ 'errorPages.404.heading' | translate }}
    </h2>
    <p class="mb-6">
      {{ 'errorPages.404.message' | translate }}
    </p>
    <a 
      routerLink="/home" 
      class="bg-[#fac32e] cursor-pointer text-[#155B84] px-6 py-3 rounded-lg font-semibold hover:bg-yellow-400 transition">
      {{ 'errorPages.404.homeLink' | translate }}
    </a>
  </div>
</div>