<router-outlet></router-outlet>
<app-back-to-top></app-back-to-top>
<ngx-spinner
    bdColor="rgba(21, 91, 132,0.9999)" 
    size="large"
    color="#FFC107" 
    type="ball-spin-clockwise"
    [fullScreen]="true"
    template='
        <div class="custom-spinner">
            <div class="spinner-logo">
                <img src="/images/logo.png" alt="Logo" style="width: 180px; height: 180px;"/>
            </div>
            <div class="spinner-text" style="margin-top: 20px; text-align:center; color: #FFC107; font-size: 28px;">
                Scooby Family
            </div>
        </div>'
>
</ngx-spinner>