<div class="card flex justify-center">
    <button 
        (click)="showDialog()" 
        class="text-white text-[18px] font-medium mx-auto mb-[30px] flex items-center gap-[5px] px-[22px] py-[10px] rounded-[7px] bg-[#155b84] hover:bg-[#2A698F] transition">
        <i class="fa-solid fa-plus"></i>
        <h3 class="text-[18px]">{{ 'couponManage.addCoupon' | translate }}</h3>
    </button>

    <p-dialog [header]="'couponManage.addNewCoupon' | translate" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
        <p-floatlabel variant="on">
            <input pInputText id="name" class="w-full" autocomplete="off" [(ngModel)]="name" (input)="checkInputs()" />
            <label for="name">{{ 'couponManage.couponName' | translate }}</label>
        </p-floatlabel>
        
        <p-floatlabel variant="on">
            <input pInputText id="discount" type="number" min="1" max="100" class="w-full" autocomplete="off" 
                   [(ngModel)]="discount" (input)="validateDiscount(); checkInputs()" />
            <label for="discount">{{ 'couponManage.couponDiscount' | translate }}</label>
            <small *ngIf="discount > 100" class="text-red-500 block">{{ 'couponManage.discountExceedError' | translate }}</small>
        </p-floatlabel>
        
        <p-floatlabel variant="on">
            <input pInputText id="expire" type="date" [min]="minDate" class="w-full" autocomplete="off" 
                   [(ngModel)]="expire" (change)="validateDate(); checkInputs()" />
            <label for="expire">{{ 'couponManage.expireDate' | translate }}</label>
            <small *ngIf="isPastDate" class="text-red-500 block">{{ 'couponManage.futureDateError' | translate }}</small>
        </p-floatlabel>
        
        <div class="flex justify-end">
            <button 
                [disabled]="isButtonDisabled || discount > 100 || isPastDate" 
                (click)="createCoupon()"
                class="text-white text-[18px] font-medium mb-[30px] flex items-center gap-[5px] px-[22px] py-[10px] rounded-[7px] transition bg-[#155b84] hover:bg-[#2A698F] disabled:bg-gray-400 disabled:cursor-not-allowed">
                <i class="fa-solid fa-check"></i>
                <h3>{{ 'couponManage.addButton' | translate }}</h3>    
            </button>
        </div>
    </p-dialog>
</div>    

<app-reusable-table
    [data]="coupons"
    [columns]="columns"
></app-reusable-table>