<section class="bg-white py-8 antialiased dark:bg-gray-900 md:py-16 min-h-[65vh]">
  <div class="mx-auto max-w-screen-xl px-4 2xl:px-0">
    @if (cart) {
      <h2 class="text-xl font-semibold text-[#155b84] sm:text-2xl">{{ 'cart.shoppingCart' | translate }} <span class="text-[#0f0f0f93] text-[18px]" > ({{cart.numOfCartItems }} {{ 'cart.items' | translate }})</span> </h2>
      <br>
      <hr>
      <div class="mt-6 sm:mt-8 md:gap-6 lg:flex lg:items-start xl:gap-8">
        <div class="mx-auto w-full flex-none lg:max-w-2xl xl:max-w-4xl">
          <div class="space-y-6">
            @for (product of cart.data.cartItems; track product._id) {
              <div class="rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 md:p-6">
                <div class="space-y-4 md:flex md:items-center md:justify-between md:gap-6 md:space-y-0">
                  <a class="shrink-0 md:order-1">
                    <img loading="lazy" class="h-20 w-20 dark:hidden" [src]="product.product.productImage" alt="imac image" />
                  </a>
    
                  <label for="counter-input" class="sr-only">Choose quantity:</label>
                  <div class="flex items-center justify-between md:order-3 md:justify-end">
                    <div class="flex items-center">
                      <button (click)="reduceProductQuanitity(product._id)" type="button" id="decrement-button" data-input-counter-decrement="counter-input" class=" inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-[#155b84]  focus:outline-none">
                        <svg class="h-2.5 w-2.5 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 2">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h16" />
                        </svg>
                      </button>
                      <input type="text" id="counter-input" data-input-counter class="w-10 shrink-0 border-0 bg-transparent text-center text-sm font-medium text-gray-900 focus:outline-none focus:ring-0 dark:text-white" placeholder="" [value]="product.quantity" required />
                      <button (click)="increaseProductQuanitity(product._id)" type="button" id="increment-button" data-input-counter-increment="counter-input" class="inline-flex h-5 w-5 shrink-0 items-center justify-center rounded-md border border-gray-300 bg-[#155b84]  focus:outline-none">
                        <svg class="h-2.5 w-2.5 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 1v16M1 9h16" />
                        </svg>
                      </button>
                    </div>
                    <div class="text-end md:order-4 md:w-32 ms-5">
                      <p class="text-base font-bold text-gray-900 flex items-center gap-1">
                        <span>
                          <span class="text-[#0f0f0f94] text-[14px]">
                            EGP
                          </span> 
                          {{product.price * product.quantity}} 
                        </span>
                        <span class="text-[11px] text-[#FAC32E] font-normal"> 
                          {{product.product.discount}}% OFF
                        </span>
                      </p>
                    </div>
                  </div>
    
                  <div class="w-full min-w-0 flex-1 space-y-4 md:order-2 md:max-w-md">
                    <a class="text-base font-medium text-gray-900"> {{product.product.name}} </a>
    
                    <div class="flex items-center gap-4">
                      <button (click)="removeFromCart(product.product._id)" type="button" class="inline-flex items-center text-sm font-medium text-red-600 hover:underline dark:text-red-500">
                        <svg class="me-1.5 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
                        </svg>
                        {{ 'cart.remove' | translate }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            }
            
            @if (cart.numOfCartItems > 0) {
              <a (click)="deleteCart()" role="button" class="flex w-fit m-auto items-center justify-center rounded-lg px-5 py-2.5 text-sm font-medium bg-[#155b84] text-white transition-all duration-200 hover:bg-[#155b84e1] ">{{ 'cart.removeAllProducts' | translate }}</a>
            }
          </div>
        </div>

        @if (cart.numOfCartItems > 0) {
          <div class="mx-auto mt-6 max-w-4xl flex-1 space-y-6 lg:mt-0 lg:w-full">
            <div class="space-y-4 rounded-lg border border-gray-200 bg-white p-4 shadow-sm dark:border-gray-700 dark:bg-gray-800 sm:p-6">
              <p class="text-xl font-semibold text-[#155b84]">{{ 'cart.orderSummary' | translate }}</p>

              <div class="flex items-center gap-2">
                <input 
                  #input
                  type="text" 
                  [placeholder]="'cart.enterCouponCode' | translate"
                  class="flex-1 rounded-lg border border-gray-300 p-2 text-sm dark:border-gray-600 dark:bg-gray-700 dark:text-white focus:outline-none  focus:border-[#155b84]"
                />
                <button
                  (click)="applyCoupon(input.value)"
                  class="rounded-lg bg-[#155b84] px-4 py-2 text-sm font-medium text-white hover:bg-[#204961] transition-all"
                >
                  {{ 'cart.apply' | translate }}
                </button>
              </div>

              <div class="space-y-4">
                <div class="space-y-2">
                  <dl class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-gray-500 dark:text-gray-400">{{ 'cart.originalPrice' | translate }}</dt>
                    <dd class="text-base font-medium text-gray-900 dark:text-white">EGP {{cart.data.totalCartPrice}}</dd>
                  </dl>

                  <dl class="flex items-center justify-between gap-4">
                    <dt class="text-base font-normal text-gray-500 dark:text-gray-400">{{ 'cart.shippingDelivery' | translate }}</dt>
                    <dd class="text-base font-medium text-green-600">{{ 'cart.free' | translate }}</dd>
                  </dl>
                </div>

                <dl class="flex items-center justify-between gap-4 border-t border-gray-200 pt-2 dark:border-gray-700">
                  <dt class="text-base font-bold text-gray-900 dark:text-white">{{ 'cart.total' | translate }}</dt>
                  <dd class="text-base font-bold text-gray-900 dark:text-white">EGP {{cart.data.totalPriceAfterDiscount || cart.data.totalCartPrice}}</dd>
                </dl>
              </div>

              <a routerLink="/checkout" role="button" class="flex w-full items-center justify-center rounded-lg px-5 py-2.5 text-sm font-medium bg-[#155b84] text-white transition-all duration-200 hover:bg-[#155b84e1]">{{ 'cart.proceedToCheckout' | translate }}</a>
            </div>
          </div>
        }
      </div>
    }
    @else {
      <div class="text-center">
        <h2 class="text-xl font-semibold text-[#155b84] sm:text-2xl">{{ 'cart.yourCartIsEmpty' | translate }}</h2>
        <p class="mt-4">{{ 'cart.emptyCartMessage' | translate }}</p>
        <a routerLink="/shop" class="mt-6 inline-flex items-center justify-center rounded-lg px-5 py-2.5 text-sm font-medium bg-[#155b84] text-white transition-all duration-200 hover:bg-[#155b84e1]">
          {{ 'cart.browseProducts' | translate }}
        </a>
      </div>
    }
  </div>
</section>